# tomcat default config
server:
  tomcat:
    max-connections: 8192 # 最大连接数
    accept-count: 100 # 接受连接数
    threads:
      max: 200 # 最大线程数
      min-spare: 10 # 最小空闲线程数
# spring config
spring:
  servlet:
    multipart:
      max-file-size: 4MB # 最大文件大小
      max-request-size: 20MB # 最大请求大小
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration # 排除自动配置
  web:
    resources:
      add-mappings: false # 是否添加映射
  jackson:
    default-property-inclusion: non_null # 默认属性包含
    property-naming-strategy: LOWER_CAMEL_CASE # 属性命名策略
    serialization:
      fail-on-empty-beans: false # 空bean序列化失败
      write-date-keys-as-timestamps: true # 将日期键作为时间戳写入
      write-date-timestamps-as-nanoseconds: false # 将日期时间戳作为纳秒写入
      write-dates-as-timestamps: true # 将日期作为时间戳写入
    deserialization:
      fail-on-unknown-properties: false # 反序列化时遇到未知属性失败
      fail-on-numbers-for-enums: true # 枚举类型遇到数字失败
      read-date-timestamps-as-nanoseconds: false # 读取日期时间戳作为纳秒
dubbo:
  protocol:
    name: dubbo # 协议名称
  application:
    auto-trust-serialize-class: true
    trust-serialize-class-level: 2

